<div id="get-touch">
  <div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <%=image_tag("louvre.jpg", class: 'img-responsive')	%>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
