<div id="get-touch">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="get-touch-heading">
          <%=image_tag("louvre.jpg")%>
        </div>
      </div>
    </div>
  </div>
</div>
