/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.customnav .navbar-brand {
    display: flex;
    align-items: center;
}

#menubar .container{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#brandname {
    padding-left: 10px;
}

#mainview {
    padding-bottom: 20px;
    font-size: 28px;
    color: #777;
}

.customnav .navbar-brand>img {
    padding: 0px 3px;
}

.nav a{
    font-size: 125%;
}

.navbar-default{
    padding-bottom: 10px;
    padding-top: 10px;
}

.wrapper {
    margin-top: 45px;
    margin-bottom: 80px;
}

.return {
    margin-top: 35px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
@include box-sizing(border-box);

}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.row-margin-top {
    margin-top : 20px;
}

.row-margin-top-buttons {
    margin-top : 70px;
    margin-bottom: 30px;
}

.show-title {
    font-size: 16px;
    color: #000000;
}

.show-content{
    font-size: 16px;
    color: #7f7f7f;
}

.padding-custom {
    padding-right:0px;
    padding-left:0px;
}

.restoration-button {
    float: right;
    color: #777;
    font-size: 16px;
    margin-top : 10px;
    margin-bottom: 20px;
}