<section class="container">
  <div id="main-nav">

    <nav class="navbar">
      <div class="container">

        <div class="navbar-collapse collapse" id="ftheme">

          <ul class ="nav navbar-nav navbar-left">
            <li><img src="/app/assets/images/escora.png"></li>
            <li><h3>ESCORA</h3></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/sign_up">Cuentas</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
